In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('Data/train.csv')
test_data = pd.read_csv('Data/test.csv')

print(len(train_data))
print(len(test_data))

20800
5200

In [24]:
rows_count = len(shuffled_data)
print(f'train len - {rows_count * 0.7}')
print(f'val len - {rows_count * 0.18}')
print(f'test len - {rows_count * 0.08}')

train len - 18155.199999999997
val len - 4668.48
test len - 2074.88

In [58]:
ROWS_COUNT = 25936
# train = 18156 rows
# val = 5190 rows
# tets = 2590 rows
train_size = 18156
val_size = 5190
test_size = 2590
print(f'TRAIN: {train_size / ROWS_COUNT * 100}%')
print(f'VAL: {val_size / ROWS_COUNT * 100}%')
print(f'TEST: {test_size / ROWS_COUNT * 100}%')
print(ROWS_COUNT == (train_size + val_size + test_size))

TRAIN: 70.00308451573103%
VAL: 20.010795805058606%
TEST: 9.986119679210365%
True

In [5]:
data = pd.concat([train_data, test_data])

len(data)

26000

In [10]:
nan_idx = data[pd.isnull(data.text)].index.tolist()
# train_data.loc[nan_idx, 'text'] = ' '

In [11]:
print(nan_idx)

[142, 573, 1200, 1911, 2148, 2169, 2793, 3329, 3729, 4288, 4358, 5717, 6215, 6680, 8649, 8908, 8922, 9350, 9446, 9454, 9524, 10466, 10867, 11450, 11486, 12056, 12460, 12835, 13020, 13107, 13915, 14499, 14933, 16126, 18479, 18757, 19157, 19227, 19388, 589, 626, 978, 2257, 2892, 4736, 5092]

In [14]:
new_data = data.drop(index=nan_idx)

In [15]:
print(len(data))
print(len(new_data))

26000
25936

In [59]:
shuffled_data = new_data.sample(frac=1)

In [60]:
len(shuffled_data)

25936

In [61]:
train_frame = shuffled_data[:train_size + val_size]

In [63]:
len(train_frame) == train_size + val_size

True

In [64]:
train_frame.to_csv('Data/new_train.csv')

In [65]:
test_frame = shuffled_data.tail(test_size)

In [66]:
len(test_frame) == test_size

True

In [72]:
len(shuffled_data)
shuffled_data.to_csv('Data/data.csv')

In [67]:
test_frame.to_csv('Data/new_test.csv')

In [68]:
len(train_frame) + len(test_frame) == len(shuffled_data)

True

In [69]:
train_frame

,id,title,author,text,label,Unnamed: 0
3722,3722,Volkswagen Executive’s Trip to U.S. Allowed F....,"Jack Ewing, Adam Goldman and Hiroko Tabuchi",When F. B. I. agents learned that a prime susp...,0,NaN
8224,8224,"Comment on The “Six Million” Myth by The Jew, ...","The Jew, the Zionist and antisemitism at the H...","By wmw_admin on April 16, 2011 Zion’s Big Lie ...",1,NaN
10953,10953,Stabbing Injures Seven People in Newark Home ·...,Brandy Combs,"According to ABC Eye Witness News, on Saturday...",1,NaN
5703,5703,Hayward: Who Needs the ’Resistance’ When You’v...,John Hayward,Why does the left bother with “Resistance” the...,0,NaN
18083,18083,Donald Trump Keeps Distance in G.O.P. Platform...,Jeremy W. Peters,CLEVELAND — marriage and transgender righ...,0,NaN
...,...,...,...,...,...,...
8038,8038,"Woman, 88, Talks Man Out of Raping Her by Sayi...",Katherine Rodriguez,An woman says she was able to talk her way ...,0,NaN
16844,16844,3 Reasons Why Trump’s Focus on MS-13 Could Be ...,Brandon Darby &amp Ildefonso Ortiz,The brutal and largely illegal immigrant fille...,0,NaN
12692,12692,"Sometimes, Spending Brings a Bigger Return Tha...",Carl Richards,Life experiences give you an incalculable retu...,0,NaN
234,234,"As Trump Berates News Media, a New Strategy Is...",Jim Rutenberg,"Well, that sure escalated quickly. “That” was ...",0,NaN
8382,8382,Conservative Group Club for Growth Opposes Pau...,Sean Moran,Club for Growth President David McIntosh relea...,0,NaN

In [70]:
len(test_frame)

2590

In [3]:
train_data = pd.read_csv('Data/new_train.csv')
test_data = pd.read_csv('Data/new_test.csv')
data = pd.read_csv('Data/data.csv')
print('train_data', train_data.shape)
print('test_data', test_data.shape)
print('data', data.shape)

train_data (23346, 7)
test_data (2590, 7)
data (25936, 7)

In [21]:
import pandas as pd
data = pd.read_csv('Data/train.csv')
print(data.columns)

Index(['Unnamed: 0', 'id', 'title', 'author', 'text', 'label', 'Unnamed: 0.1'], dtype='object')

In [22]:
del data['Unnamed: 0']
del data['title']
del data['author']
del data['Unnamed: 0.1']

In [23]:

print(data)

          id                                               text  label
0       3722  When F. B. I. agents learned that a prime susp...      0
1       8224  By wmw_admin on April 16, 2011 Zion’s Big Lie ...      1
2      10953  According to ABC Eye Witness News, on Saturday...      1
3       5703  Why does the left bother with “Resistance” the...      0
4      18083  CLEVELAND  —     marriage and transgender righ...      0
...      ...                                                ...    ...
23341   8038  An    woman says she was able to talk her way ...      0
23342  16844  The brutal and largely illegal immigrant fille...      0
23343  12692  Life experiences give you an incalculable retu...      0
23344    234  Well, that sure escalated quickly. “That” was ...      0
23345   8382  Club for Growth President David McIntosh relea...      0

[23346 rows x 3 columns]

In [24]:
data.to_csv('Data/new_train.csv', index=False)

In [25]:
data.shape

(23346, 3)

In [27]:
test = pd.read_csv('Data/new_train.csv')
print(test.columns)
print(test)

Index(['id', 'text', 'label'], dtype='object')
          id                                               text  label
0       3722  When F. B. I. agents learned that a prime susp...      0
1       8224  By wmw_admin on April 16, 2011 Zion’s Big Lie ...      1
2      10953  According to ABC Eye Witness News, on Saturday...      1
3       5703  Why does the left bother with “Resistance” the...      0
4      18083  CLEVELAND  —     marriage and transgender righ...      0
...      ...                                                ...    ...
23341   8038  An    woman says she was able to talk her way ...      0
23342  16844  The brutal and largely illegal immigrant fille...      0
23343  12692  Life experiences give you an incalculable retu...      0
23344    234  Well, that sure escalated quickly. “That” was ...      0
23345   8382  Club for Growth President David McIntosh relea...      0

[23346 rows x 3 columns]

In [ ]:
data = pd.read_csv('Data/)